@page
@model App.Web.Areas.Identity.Pages.Account.TicketModel
@{
    ViewData["Title"] = "Tickets";
    int i = 1;
}
<div class="d-flex justify-content-between align-items-center">
    <h2>Ticket List</h2>
    <a href="~/Identity/Account/AddTicket" class="btn btn-outline-info">
        New Ticket
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Origin
            </th>
            <th>
                Destination
            </th>
            <th>
                Ticket Count
            </th>
            <th>
                Departure Date
            </th>
            <th>
                Price
            </th>
            <th>
                Category Id
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketCount)
                </td>
                <td>
                    @{
                        string DepartureDateString = item.DepartureDate.ToString("yyyy-MM-dd");
                    }
                    @Html.DisplayFor(modelItem => DepartureDateString)
                   
                </td>
                <td>
                    @{
                        string PriceToString = item.Price.ToString("C2");
                    }
                    @Html.DisplayFor(modelItem => PriceToString)
                 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td> 
                <td>
                    <a asp-action="" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
